@font-face {
  font-family: "Raleway", sans-serif;
  src: url(../fonts/Raleway/Raleway-Bold.woff) format("woff"),
    url(../fonts/Raleway/Raleway-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-text-cl: #ffffff, 60 %;
  --alt-title-cl: #ffffff;

  --dark-bg: #2f303a;
  --second-bg: #f5f4fa;
  --main-bg: #e5e5e5;

  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}
.link:hover,
.link:focus {
  color: var(--accent-cl);
  text-decoration: none;
}
.nav {
  margin-right: auto;
  align-items: center;
}
.page-header .container {
  display: flex;
  align-items: center;
  /*justify-content: flex-start;*/
}
.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}
.header-decoration {
  color: #212121;
}
.list {
  list-style: none;
  padding-left: 0;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}
.list-nav-header {
  list-style: none;
  padding-left: 0;
  align-items: center;
  /*margin-bottom: 0;
  margin-top: 0;*/
}
.address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.menu {
  display: inline-flex;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.logo-botom {
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-botom:hover {
  text-decoration: none;
}
.logo {
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 93px;
  padding-bottom: 0;
}
.logo:hover {
  text-decoration: none;
}
.logo-studio {
  color: #2196f3;
}
.page-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  background: #2f303a;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-title {
  font-family: var(--main-font);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
/*.nav-decoration {
}*/
.dark-section {
  background: #2f303a;
  /*height: 600px;
  top: 80px;*/
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  /*height: 120px;*/
  width: 696px;
  /*top: 50%;
  left: 50%;*/
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.social-icons {
  display: inline-flex;
}
.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}
.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: #ffffff;
  color: var(--accent-cl);
  background-color: #2196f3;
}

.social-icons-item.menu-item:not(:last-child) {
  margin-right: 22px;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  align-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--alt-title-cl);
  background-color: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-filter {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
  background: #f5f4fa;
  border-color: transparent;
  border-radius: 4px;
  /*margin-left: 8px;*/
}
.btn-filter:hover {
  color: var(--alt-title-cl);
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.about-title-item {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: bold;
  color: #212121;
  margin-bottom: 10px;
}
.team-name-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.portfolio-items {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-items:not(:last-child) {
  margin-right: 8px;
}
.team-job-item {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.gallery {
  padding-bottom: 94px;
  /*padding-left: 15px;
  padding-right: 15px;*/
}
.team {
  background-color: #f5f4fa;
}
.about-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-items-project {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  align-content: left;
}
.address-item-place {
  color: #ffffff;
  margin-bottom: 10px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.item {
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item {
  text-align: center;
  flex-basis: calc((100% - 4 * 30px) / 4);
}
.gallery-item {
  text-align: center;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.about-item {
  text-align: left;
  flex-basis: calc((100% - 4 * 30px) / 4);
}
.portfolio-items {
  text-align: left;
  /*margin-left: 8px;
  margin-top: 8px;
  padding: 10px;*/
}
.footer {
  /*justify-content: left;
  height: 252px;
   padding-left: 215px;*/
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.card-set-portfolio {
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc((100% - 5 * 8px) / 5);
  margin-bottom: 50px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
.hero-order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}
.team-name {
  padding: 30px 32px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 20px;
  /*padding-bottom: 54px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;*/
}
/*.btn-filter-all {
  padding: 6px 22px;
}*/
.item-noshadow {
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
}
.team-name-portfolio {
  /*padding: 30px 32px;*/
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  /*border: 1px solid #eeeeee;*/
  box-sizing: border-box;
  flex-basis: calc((100% - 9 * 30px) / 9);
}
.portfolio-items-name-project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.team-name-portfolio:nth-child(3n + 1) {
  margin-left: 0;
}
